* {background-color: black;}
body {color: white;}
a {color: red;}

.title{
    text-align: center;
    font-family: "Bembo Bold";
}

.content {
    display: grid;
    grid-template-columns: 0.4fr 0.35fr 504px 0.107fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 5px;
}

.roots {
    border: 1px solid white;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 2px;
    font-family: "Bembo";
    font-size: 1rem;
}

.pages {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 1;
    padding: 2px
    align-content: start;
    font-family: "Bembo SemiBold Italic";
    font-size: 1.25rem;
}

.description {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 2;
    padding-inline-start: 20px;
    padding: 2px;
    align-self: end;
    font-family: "Bembo";
    font-size: 1.1rem;
}

.links {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 3;
    padding-inline-start: 20px;
    padding: 2px;
    font-family: "Bembo";
    font-size: 1.1rem;
}

@font-face {
    font-family: "Bembo Bold";
    src: url(Fonts/BemboStd-Bold.ttf);
}
@font-face {
        font-family: "Bembo";
        src: url(Fonts/BemboStd.ttf);
}
@font-face {
    font-family: "Bembo SemiBold Italic";
    src: url(Fonts/BemboStd-SemiboldItalic.ttf);
}