* {background-color: black;}
body {color: white;}
a {color: red;}
strong {font-family: "Bembo Bold";}

.title{
    text-align: center;
    font-family: "Bembo Bold";
}

.content {
    display: grid;
    grid-template-columns: 0.4fr 0.35fr 505px 0.107fr;
    grid-template-rows: 0.5fr 0.5fr 0.4fr;
    gap: 5px;
}

.roots {
    border: 1px solid white;
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 4px;
    font-family: "Bembo";
    font-size: 1.1rem;
}

.image {
    max-width: 498px;
}

.pages {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 1;
    padding: 2px;
    align-content: start;
    font-family: "Bembo ExtraBold Italic";
    font-size: 1.3rem;
}

.description {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 2;
    padding-inline-start: 20px;
    align-self: end;
    font-family: "Bembo";
    font-size: 1.1rem;
}

.links {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 3;
    padding-inline-start: 20px;
    align-self: start;
    font-family: "Bembo";
    font-size: 1.1rem;
}

@font-face {
    font-family: "Bembo Bold";
    src: url(Fonts/BemboStd-Bold.woff2);
}
@font-face {
        font-family: "Bembo";
        src: url(Fonts/BemboStd.woff2);
}
@font-face {
    font-family: "Bembo SemiBold Italic";
    src: url(Fonts/BemboStd-SemiboldItalic.woff2);
}
@font-face {
    font-family: "Bembo Bold Italic";
    src: url(Fonts/BemboStd-BoldItalic.woff2);
}
@font-face {
    font-family: "Bembo ExtraBold Italic";
    src: url(Fonts/BemboStd-ExtraBoldItalic.woff2);
}




@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.7fr 0.3fr 0.5fr
    }
    .roots {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-content: center;
    }
    .image {
        max-width: 400px;
        justify-content: center;
    }
    .pages {
        grid-column: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
    }
    .description {
        grid-column: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: center;
    }
    .links {
        grid-column: 1;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-content: center;
    }

    }