* {background-color: black;}
body {color: white;}
a {color: red;}

.parent{
    background-color: red;
    position: relative
}

.title{
    text-align: center;
    font-family: "Bembo Bold";
}

.Roots{
    width: 32.75%;
    border: 2px solid white;
    position: absolute;
    top: 0px;
    left: 50%;
    margin:3px
}

.pages{
    font-family: "Bembo SemiBold Italic";
    font-size: 24px;
    width: 20%;
    border: 2px solid white;
    padding: 9px;
    margin: 3px;
    position: absolute;
    right: 50%;
    top: 0px
}   

.description {
    font-family: "Bembo";
    font-size: 20px;
    border: 2px solid white;
    width: 20%;
    padding: 9px;
    margin: 3px;
    position: absolute;
    right: 50%;
    top: 340px;
}

.Links {
    font-family: "Bembo";
    font-size: 20px;
    border: 2px solid white;
    width: 20%;
    padding: 9px;
    margin: 3px;
    position: absolute;
    right: 50%;
    top: 558px;
}

@font-face {
    font-family: "Bembo Bold";
    src: url(Fonts/BemboStd-Bold.ttf);
}
@font-face {
        font-family: "Bembo";
        src: url(Fonts/BemboStd.ttf);
}
@font-face {
    font-family: "Bembo SemiBold Italic";
    src: url(Fonts/BemboStd-SemiboldItalic.ttf);
}